<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="http://192.168.1.7:8080/images/register_image.jpg" alt="Sample photo"
                    class="w-100 vh-100" style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Howdy Newby 🎉</h3>

                    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

                    <form (submit)="register()">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-outline">
                                    <input type="text" id="form3Example1m" name="first_name"
                                        class="form-control form-control-lg" [(ngModel)]="first_name" required />
                                    <label class="form-label" for="form3Example1m">First name</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-outline">
                                    <input type="text" id="form3Example1n" name="last_name"
                                        class="form-control form-control-lg" [(ngModel)]="last_name" required />
                                    <label class="form-label" for="form3Example1n">Last name</label>
                                </div>
                            </div>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="form3Example8" name="email" class="form-control form-control-lg"
                                [(ngModel)]="email" required />
                            <label class="form-label" for="form3Example8">Email</label>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="form3Example8" name="password"
                                class="form-control form-control-lg" [(ngModel)]="password" required />
                            <label class="form-label" for="form3Example8">Password</label>
                        </div>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="form3Example8" name="confirm-password"
                                class="form-control form-control-lg" [(ngModel)]="confirm_password" required />
                            <label class="form-label" for="form3Example8">Confirm Password</label>
                        </div>

                        <div class="d-flex justify-content-between pt-3">
                            <p>Already have an account? <a href="login/" class="link-info">log in</a></p>
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-warning btn-lg ms-2" [disabled]="isLoading">
                                <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
                                {{ isLoading ? 'Creating Account...' : 'Create Account' }}
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>